:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --c2: #1c242c;
}
* {
  color: white;
}
/* Scrollbar Styles */
::-webkit-scrollbar {
  height: 4px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--c3);
}
::-webkit-scrollbar-thumb {
  background-color: var(--c2);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--c7);
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1c1c1c;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}


p,
li {
  text-align: justify;
}
li {
  list-style: none;
  margin: 3px;
}

#headline-job-info {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: #27272780;
  border-radius: 5px;
  height: 120px;
}
#job-board {
 
  width: 90dvw;
  height: 50dvh;
  overflow-y: scroll;
}
.posts{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row wrap;
}
.job-post {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin-bottom: 3px;
  background-color: #191919;
  padding-top: 10px;
  cursor:pointer;
}
.title {
  text-align: center;
  width:80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.company-logo {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 5%;
}
.company-logo > img {
  width: inherit;
  height: inherit;
  object-fit: contain;
  background-color: white;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
