:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --c2: #1c242c;
}
* {
  color: white;
  margin:0;
  font-size: calc(16px + (24 - 16) * ((100vw - 320px)/(1920-320)));
}
button {
  cursor: pointer;
  border:none;
}
/* Scrollbar Styles */
::-webkit-scrollbar {
  height: 4px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--c3);
}
::-webkit-scrollbar-thumb {
  background-color: var(--c2);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--c7);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1c1c1c;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

p,
li {
  text-align: justify;
}
li {
  list-style: none;
  margin: 3px;
}

#headline-job-info {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: #27272780;
  border-radius: 5px;
  height: 120px;
}
#job-board {
  width: 90dvw;
  height: 50dvh;
  overflow-y: scroll;
}
.posts {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row wrap;
}
.job-post {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin-bottom: 3px;
  background-color: #191919;
  padding-top: 10px;
  cursor: pointer;
}
.board > h3 {
  background-color: #2e2d2d6c;
  padding: 5px;
  border-radius: 2px;
}
.title {
  text-align: center;
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.company-logo {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 5%;
}
.company-logo > img {
  width: inherit;
  height: inherit;
  object-fit: contain;
  background-color: white;
}


.job-post-private {
  text-align: justify;
  background-color: #303030;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border-top: 10px outset #4fb4f7;

  /* remove  this with for certain smaller screens */
  width: 300px;
  height:205px;
  display: flex;
  flex-flow:column wrap;
  justify-content: space-around;
  align-items: center;
}
.job-post-private > * {
  margin-top:5px;
}
.job-post-private > hr {
  width: 90%;
  height:1px;
  border-radius: 6px;
  background-color:#0000008a;
  border:none;
}
.job-post-private > h3 {

  text-align: center;
  border-radius: 10px;
  border: groove #00b7ff67 1px;
  padding:5px;
  
  
}
.ellipsis-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 280px; /* Adjust the max-width as needed */
  cursor: pointer;
}

.details {
  background: rgb(71, 70, 70);
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.apply {
  margin-left: 45%;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  font-size: large;
  background-color: #127c32;
}
.other-agencies {
  display: flex;
  flex-flow: column nowrap;
}
.agency-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 8px;
}
.job-field {
 
  background-color: #ec3838;
  border-radius: 3px;
  text-align: center;
}
.more {
  margin:auto;
  width: 80px;
  height: 30px;
  border-radius: 6px;
  background-color: gold;
}
.location {
  
  float:right;
  background-color: #0bd164;
  border-radius: 3px;
  text-align: center;
  margin-right:4px;
}

.start-date {
  background-color: #ff4500;
  border-radius: 3px;
  text-align: center;
}
.expiry-date {
  background-color: #ff4500;
  border-radius: 3px;
  text-align: center;
}
.province {
 float:right;

  background-color: rgb(17, 165, 25);
  border-radius: 3px;
  text-align: center;
}
.job-type {
  background-color: rgb(219, 3, 86);
  border-radius: 3px;
  text-align: center;
}

#pvt-job-board  {
  margin-top:50px;
}
#pvt-job-board > .board > section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
footer {
  background-color: #2e2d2d6c;
  margin-top: 20px;
  border-radius: 3px;
  text-align: center;
  font-size: 12px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
 #dialog{
  background-color: #000000e0;
  border:none;
  width:70dvw;
  margin:auto;
 }
 #close-dialog{
  background-color:#ff3c00;
  border-radius: 5px;
  width: 100px;
  height: 30px;
 }